
.tool-bar {
    -fx-background-color: #f1f1f0;
    -fx-border-width: 0 0 .5 0;
    -fx-border-color: rgb(128, 128, 128);
}

.button {
    -fx-background-color: rgba(211, 211, 211, 0.39);
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-border-color: black;
    -fx-padding: 3;
    -fx-pref-width: 100;
}

.button:hover {
    -fx-cursor: pointer;
    -fx-background-color: lightgray;
}

#codeArea .styled-text-area .text {
    -fx-fill: #575656 !important;
    -fx-font-weight: 300 !important;
}

.lineno{
    -fx-font-family: "Source Code Pro";
    -fx-font-style: italic;
    -fx-padding: 0 0 0 5;
    -fx-background-color: lightgray;
}

.lineno .text {
    -fx-fill: #545454 !important;
}

.coluna-linha {
    -fx-fill: lightgray;
}

#codeArea .paragraph-box:has-caret{
    -fx-background-color: #f1f1f0;
}

#areaMensagens {
    -fx-padding: 10;
}

.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar:vertical {
    -fx-pref-width: 13;
}

.scroll-bar:horizontal {
    -fx-pref-height: 13;
}

.scroll-bar .track {
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-color: lightgray;
    -fx-border-radius: 50px;
}

.scroll-bar .thumb:hover,
.scroll-bar .thumb:pressed {
    -fx-background-color: #a6a5a5;
}

.split-pane-divider {
    -fx-background-color: rgb(128, 128, 128);
    -fx-padding: .5;
}

/* Configurações destacador */

.keyword {
    -fx-fill: purple;
    -fx-font-weight: bold;
}
.semicolon {
    -fx-font-weight: bold;
}
.paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}
.bracket {
    -fx-fill: darkgreen;
    -fx-font-weight: bold;
}
.brace {
    -fx-fill: teal;
    -fx-font-weight: bold;
}
.string {
    -fx-fill: blue;
}

.comment {
    -fx-fill: cadetblue;
}